/* https://schneider-joachim.github.io/ist263/lab06/style.css */

body {
    font-family: 'Courier New', monospace;
    /* color: #9932cc */
  }

  h1, h2{
    color: #9932cc;
  }

.evenrow{
    background-color: #BA55D3;
}

h1{
font-size: 2em;
}

h2{
font-size: 1em;
}